@use "/src/index.scss" as *;

.Calendar {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $gap;

    .CalRounds {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: $gap;
    }

    .years,
    .rounds {
        display: flex;
        flex-direction: column;

        gap: 3px;

        overflow: hidden;
        height: $height;

        border-radius: 3px;

        & a {
            padding: 0.75rem;

            color: #111;
            background: #ddd;
        }
        .active {
            color: $sec;
            background: $main;
        }
    }
    .years {
        min-width: 125px;
        font-size: 1.5rem;

        & a {
            @include grid-center;
            & h3 {
                font-weight: 900;
            }
        }
    }
}

.CalRounds {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $gap;

    .rounds {
        min-width: 250px;
        font-size: 1.25rem;

        & a {
            & h3 {
                font-weight: 800;
            }
        }
    }
}
