@use "/src/index.scss" as *;

.NotFound {
    @include flex-center;
    gap: 1rem;
    
    & svg {
        font-size: 8rem;
        filter: drop-shadow(0 0 5px $main);
        color: $main;
    }
    .text {
        text-align: center;
        
        & h1 {
            font-size: 2rem;
            font-weight: 900;
        }
        & h2 {
            font-size: 1.13rem;
            font-weight: 400;
        }
    }
}
