@use "/src/index.scss" as *;

.RaceResult {
    display: grid;
    grid-template-columns: 2fr 3fr;

    overflow: auto;
    height: $height;

    color: #000;
    background: #eee;

    .menu {
        display: grid;
        align-content: start;
        gap: 0.5rem;
        padding: 0.5rem;

        & header {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;

            & h1 {
                font-size: 3rem;
                line-height: 3rem;

                font-weight: 900;
            }
            & h2 {
                font-size: 2.5rem;
                line-height: 2.5rem;

                font-weight: 400;
            }
        }
        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            & a {
                flex: 1;
                @include flex-center;

                min-width: 200px;

                gap: 0.5rem;
                padding: 1.5rem;

                border-radius: 5px;

                color: #eee;
                background: #000;

                & svg {
                    font-size: 3rem;
                }
                .text {
                    @include grid-center;

                    & h3 {
                        font-size: 0.7rem;
                        font-weight: 500;
                        color: #aaa;
                    }
                    & h2 {
                        text-transform: uppercase;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        grid-template-columns: auto;
    }

    // ResultTable
}
