.InfoCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    gap: 0.5rem;
    padding: 0.5rem;

    .imgWrap {
        & img {
            width: 100%;
            max-width: 500px;
            aspect-ratio: 2;
            object-fit: cover;

            border-radius: 5px;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        & h2 {
            font-size: 2.5rem;
        }
        & p {
            color: #888;
        }
    }
}
.ReverseCard {
    .imgWrap {
        order: 2;
    }
    .info {
        order: 1;
    }
}

@media (max-width: 700px) {
    .InfoCard {
        grid-template-columns: auto;
        .imgWrap {
            padding: 0.5rem;
            & img {
                max-width: auto;
            }
        }
    }
    .ReverseCard {
        .imgWrap {
            order: 1;
        }
        .info {
            order: 2;
        }
    }
}
