@use "/src/index.scss" as *;

.IsPending {
    @include flex-center;

    padding-top: 2rem;
    padding-bottom: 3rem;

    & header {
        @include flex-center;
        padding-bottom: 1rem;

        & h2 {
            font-size: 5.5rem;
            font-weight: 900;
            line-height: 5.5rem;
        }
        & h1 {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }

    // CountDown
    & footer {
        width: 275px;

        padding-top: 1px;

        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        & h3 {
            @include grid-center;
            padding: 0.5rem;

            font-weight: 300;

            color: #ddd;
            background: #000;
        }
    }
}
