.Card {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;

    .imgWrap {
        overflow: hidden;

        width: 100%;
        max-width: 500px;
        aspect-ratio: 2;

        border-radius: 5px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            scale: 1;
            transition: scale 300ms ease-in-out;

            &:hover {
                scale: 1.1;
            }
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: start;

        & h2 {
            text-transform: capitalize;
            font-size: 2.75rem;
            font-weight: 800;
        }
        & p {
            max-width: 500px;
            color: #999;
        }
    }
}
.Reverse {
    .imgWrap {
        order: 2;
    }
    .info {
        order: 1;
        align-items: end;
        text-align: end;
    }
}

@media (max-width: 700px) {
    .Card {
        grid-template-columns: auto; // 1fr 1fr

        .imgWrap > img {
            max-width: auto; // 500px
        }
        .info {
            align-items: center; // start
            text-align: center; // start
        }
    }
    .Reverse > .imgWrap {
        order: 1; // 2
    }
}
